.cart-row {
    overflow: hidden;
    display: flex;
    align-items: center;
}

.cart-row_img img {
    width: 100%;
}

.cart-row_count i {
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.cart-row_count-input {
    width: 30px;
    height: 21px;
    font-size: 18px;
    text-align: center;
    display: inline-block;
    box-sizing: content-box;
}

.cart-row_price {
    font-size: 18px;
}

.cart-summary {
    margin-top: 20px;
}