.main-nav {
    margin-top: 20px;
    margin-bottom: 20px;
}

.main-nav > li {
    width: 50%;
    margin-left: 0;
}

.choose-user-list > li > a.active  {
    color: #555;
    background-color: #e7e7e7;
}
