.filters-list {
    border: 1px solid #e7e7e7;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    margin-bottom: 15px;
}

.filters-list {
    padding: 0;
}

.filters-list > li:first-child, .filters-list_producers {
    position: relative;
    display: block;
    padding: 10px 15px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    font-weight: 700;
    background-color: #e7e7e7;
}

.filters-list_producers, .filters-list_producers-title {
    background-color: #fff;
}

.filters-list_producers-title {
    border-bottom: 2px solid #e7e7e7;
}

.filters-list_producers label {
    font-weight: 400;
}