<div class="row">
    <div class="products-list">
        <div *ngIf="filteredProducts.length == 0">
            <div *ngFor="let product of products" class="col-xs-4 products-list_item">
                <div class="products-list_item-inner">
                    <a (click)="goToProductPage(product)" class="products-list_link">
                        <img class="products-list_img" [src]="product.imgSrc" alt="">
                        <p>{{product.name}}</p>
                    </a>
                    <div class="products-list_code">
                        Код:&nbsp;<span>{{product.articul}}</span>
                    </div>
                    <div class="products-list_price">
                        <span>{{product.price}}</span>&nbsp;грн
                    </div>
                    <a (click)="addToCart(product)" class="btn btn-primary products-list_buy-btn">
                        <i class="glyphicon glyphicon-shopping-cart"></i>
                    </a>
                </div>
            </div>
        </div>
        <div *ngFor="let product of filteredProducts" class="col-xs-4 products-list_item">
            <div class="products-list_item-inner">
                <a (click)="goToProductPage(product)" class="products-list_link">
                    <img class="products-list_img" [src]="product.imgSrc" alt="">
                    <p>{{product.name}}</p>
                </a>
                <div class="products-list_code">
                    Код:&nbsp;<span>{{product.articul}}</span>
                </div>
                <div class="products-list_price">
                    <span>{{product.price}}</span>&nbsp;грн
                </div>
                <a (click)="addToCart(product)" class="btn btn-primary products-list_buy-btn">
                    <i class="glyphicon glyphicon-shopping-cart"></i>
                </a>
            </div>
        </div>
    </div>
</div>

